<section id="contact">
	<div class="container">
	<h1>Email me:</h1>
	<form ng-submit="submit()">
		<input type="text" ng-model="name" placeholder="YOUR NAME" required>  
		<input  type="email" ng-model="email" placeholder="YOUR EMAIL" required>
		<textarea ng-model="comments" placeholder="MESSAGE" required ></textarea>
		<button type="submit" class="submit">SEND</button>
	</form>
	</div>
</section>
<section id="findmeonline">
	<div class="container">
		<h1>Find me online:</h1>
		<a target="_blank" href="https://www.facebook.com/I.am.SAM.the.MAN">
			<div class="onlineContainer">
				<i style="font-size: 90px;" class="fa fa-facebook-square"></i>
				<div>Facebook</div>
			</div>
		</a>
		<a target="_blank" href="https://www.linkedin.com/in/sam-beckett-72a9537a/">
			<div class="onlineContainer">
				<i style="font-size: 90px;" class="fa fa-linkedin-square"></i>
				<div>Linked In</div>
			</div>
		</a>
	</div>
</section>

<modal id="emailModal" ng-controller="modalController"></modal>